/* this section contains the general styles applied to different tags */
BODY 
	{
	margin-right: 0; 
	margin-bottom: 0; 
	margin-left: 0;
	padding			: 0; 
	margin			: 0;
	vertical-align	: top;
	scrollbar-face-color: #00B0C7;
	scrollbar-shadow-color: #666888;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-highlight-color: #666888;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-track-color: #e9e9e9;
	scrollbar-arrow-color: #DA3320;
	}

.title2 {
  FONT-FAMILY: Arial;
  FONT-SIZE: 16px;     
  FONT-WEIGHT: bold;    
  color:#5DDF07;
  line-height:20px
}
.title{
  FONT-FAMILY: Arial Black,Arial;
  FONT-SIZE: 18px;     
  FONT-WEIGHT: bold;    
  color:#ABC851;
  line-height:24px
}

.title3{
  FONT-FAMILY: Arial;
  FONT-SIZE: 12px;     
  FONT-WEIGHT: bold;    
  color:#f76d09;
}

.regular_italic {
	line-height: 20px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	color: #666666;
	font-style: italic;
}
P {
	FONT-FAMILY: arial,Verdana, Helvetica, sans-serif;
	FONT-SIZE: 11px; 
	font-weight: normal;
	margin: auto;
	line-height:18px;
}
	
.input {  
	font-family:  Arial,Verdana, Helvetica, sans-serif; 
	font-size: 11px; color: #000000; 
	background-color: #ddeeff; 
	border: #aaa7a4; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
	scrollbar-face-color: #e9e9e9;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-track-color: #e9e9e9;
	scrollbar-highlight-color: #ebebeb;
}


.title_table{
	color: #ffffff;
    FONT-FAMILY: Arial,Trebuchet MS,verdana;
    FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
}

TD{
  FONT-FAMILY:arial, verdana,Helvetica, sans-serif;
  FONT-SIZE: 12px;
  color :#0C4962;
  line-height:18px;
  text-align: left;
}

.note
{
  FONT-FAMILY:arial, verdana,Helvetica, sans-serif;
  FONT-SIZE: 11px;
  color :#000000;
  line-height:20px;
  text-align: left;
}

.noteb{
  FONT-FAMILY: arial,verdana,Helvetica, sans-serif;
  FONT-SIZE: 14px;
  color :#023D65;
  line-height:20px;
  FONT-WEIGHT: bold;
}

.notev{
  FONT-FAMILY: arial,verdana,Helvetica, sans-serif;
  FONT-SIZE: 11px;
  line-height:10px;
}

.note_bold{
  FONT-FAMILY: arial,verdana,Helvetica, sans-serif;
  FONT-SIZE: 11px;
  color :#000000;
  FONT-WEIGHT: bold;
  line-height:15px
}

A {
   color : #005A7F;
   font-size : 11px;
   font-weight : bold;
   font-family : arial,verdana;
   text-decoration : none
}

A:hover,A:active {
   color :  #ff0000;
   font-size : 11px;
   font-weight : bold;
   font-family : arial,verdana; 
   text-decoration : none;
 }  
 
A.menu {
   color : #ffffff;
   font-size : 11px;
   font-family : arial,verdana;
   text-decoration : none
}

A.menu:hover,A.menu:active {
   color :  #d6f20d;
   font-size : 11px;
   font-family : arial,verdana; 
   text-decoration : underline;
 }     
 
A.red {
   color : #ff0000;
   font-size : 9px;
   font-weight : bold;
   font-family : verdana,arial,tahoma,verdana;
   text-decoration : none;
}

A.red:hover,A.red:active {
   color :  #FFB423;
   font-size : 9px;
   font-weight : bold;
   font-family : verdana,arial,tahoma,verdana; 
   text-decoration : none;
 }
  
A.news {
   color : #000000;
   font-size : 11px;
   font-weight : bold;
   font-family : arial,tahoma,verdana;
   text-decoration : none;
}

A.news:hover,A.news:active {
   color :  #FFB423;
   font-size : 11px;
   font-weight : bold;
   font-family : arial,tahoma,verdana; 
   text-decoration : underline;
 }  

A.putih {
   color : #ffffff;
   font-size : 10px;
   font-family : arial,verdana,tahoma; 
   text-decoration : none
}

A.putih:hover,A.putih:active {
   color :  #000000;
   font-size : 10px;
   font-family : arial,verdana,tahoma; 
   text-decoration : none
 } 

A.silver {
   color : #1d1d1d;
   font-size : 10px;
   font-family : arial,verdana,tahoma; 
   text-decoration : none
}

A.silver:hover,A.silver:active {
   color :  #ff0000;
   font-size : 10px;
   font-family : arial,verdana,tahoma; 
   text-decoration : none
 } 
   
       
.tombol {
font-size: 11px; 
font-family:arial,tahoma,verdana; 
color: #2D4A2A;	
font-weight : bold;
background-color: #f5f5f5; 
border: #c0c0c0; 
border-style: solid; 
border-top-width: 1px; 
border-right-width: 1px; 
border-bottom-width: 1px; 
border-left-width: 1px;
}