/* CSS Document */

html {
	height: 100%;
}

body {
	height: 100%;
	margin-bottom: 1px;
}

.clr {
	clear: both;
}

.outline {
  border: 1px solid #cccccc;
  background: #ffffff;
	padding: 2px;
}

#buttons_outer {
	width: 635px;
  	margin-bottom: 2px;
	margin-right: 2px;
	float: left;

}

#buttons_inner {
	border: 2px double #E40F24;
	height: 21px !important;
	height: 23px;
}

#pathway_text {
  overflow: hidden;
	display: block;
	height: 25px;
	line-height: 25px !important;
	line-height: 22px;
	padding-left: 4px;
	border: 1px solid #ccc;
	margin-bottom: 2px;
}

#pathway_text img {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 6px;
}

#buttons {
	float: left;
	margin: 0px;
	padding: 0px;
	width: auto;
}


ul#mainlevel-nav
{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}

ul#mainlevel-nav li
{
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
	margin: 0;
	font-size: 11px;
	line-height: 21px;
	white-space: nowrap;
	border-right: 1px solid #cccccc;
}

ul#mainlevel-nav li a
{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #808080;
	background: transparent;
}

#buttons>ul#mainlevel-nav li a { width: auto; }

	ul#mainlevel-nav li a:hover
{
	color: #fff;
	background: #000000;
}


#search_outer {
	float: left;
	width: 165px;
}

#search_inner {
  border: 1px solid #cccccc;
	padding: 0px;
  height: 21px !important;
  height: 23px;
  overflow: hidden;
}

#search_inner form {
  padding: 0;
  margin: 0;
}

#search_inner .inputbox {
	border: 0px;
	padding: 3px 3px 3px 5px;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

#header_outer {
	text-align: left;
	border: 0px;
	margin: 0px;
}

#header {
	float: left;
	padding: 0px;
	margin-right: 2px;
	width: 635px;
	height: 150px;
	background: url(../images/header_short.jpg) no-repeat;
}

#top_outer{
	float: left;
	width: 165px;
}

#top_inner {
  border: 1px solid #cccccc;
	padding: 2px;
  height: 144px !important;
  height: 150px;
  overflow: hidden;
  float: none !important;
  float: left;
}

#left_outer {
  float: left;
	margin-top: 2px;
	width: 165px;
}

#left_inner {
  border: 1px solid #cccccc;
	padding: 2px;
  float: none !important;
  float: left;
}

#content_outer {
	padding: 0px;
	margin-top: 0px;
	margin-left: 2px;
	/** border: 1px solid #cccccc; **/
	float: left;
	width: 635px;
}

#content_inner{
  float: none !important;
  float: left;
  padding: 0;
  padding-top: 2px;
  margin: 0;
}

table.content_table {
  width: 100%;
	padding: 0px;
	margin: 0px;
}

table.content_table td {
	padding: 0px;
	margin: 0px;
}


#banner_inner {
	float: left;
	padding: 0px;
	height: 70px;
}

#poweredby_inner {
	float: right;
	padding: 0px;
	margin-left: 0px;
	height: 70px;
}

#right_outer {
	margin-left: 2px;
	width: 165px;
}

#right_inner {
  float: none !important;
  float: left;
  border: 1px solid #cccccc;
  padding: 2px;
}


.user1_inner {
	border: 1px solid #cccccc;
  float: none !important;
  float: left;
	margin: 0px;
	padding: 2px;
}

.user2_inner {
	border: 1px solid #cccccc;
  float: none !important;
  float: left;
	margin: 0px;
	padding: 2px;
}

table td.body_outer {
	padding: 2px;
	border: 1px solid #cccccc;
}

.maintitle {
	color: #ffffff;
	font-size: 40px;
	padding-left: 15px;
	padding-top: 20px;
}

.error {
  font-style: italic;
  text-transform: uppercase;
  padding: 5px;
  color: #cccccc;
  font-size: 14px;
  font-weight: bold;
}

/** old stuff **/

.back_button {
  float: left;
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  border: 2px double #E40F24;
  width: auto;
  /*background: url(../images/button_bg.png) repeat-x;*/
  padding: 0px 10px;
  line-height: 15px;
  margin: 1px;
}

.pagenav {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  border: 3px double #cccccc;
  width: auto;
  /*background: url(../images/button_bg.png) repeat-x;*/
  padding: 0px 10px;
  line-height: 20px;
  margin: 1px;
}

.pagenavbar {
	margin-right: 10px;
	float: right;
}

#footer {
	text-align: center;
	padding: 3px;
}

ul
{
margin: 0;
padding: 0;
list-style: none;
}

li
{
line-height: 15px;
padding-left: 15px;
padding-top: 0px;
background-image: url(../images/arrow.png);
background-repeat: no-repeat;
background-position: 0px 2px;
}


body {
	margin: 15px;
	height: 100%;
	padding: 0px;
	font-family: Arial, Helvetica, Sans Serif;
	line-height: 120%;
	font-size: 11px;
	color: #333333;
	background: #ffffff;
}

/* Joomla core stuff */
a:link, a:visited {
	color: #000000; text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #ff0000;	text-decoration: none;
	font-weight: bold;
}

table.contentpaneopen {
  width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
}

table.contentpaneopen td {
   padding-right: 5px;
}

table.contentpaneopen td.componentheading {
	padding-left: 4px;
}



table.contentpane {
  width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
}

table.contentpane td {
	margin: 0px;
	padding: 0px;
}

table.contentpane td.componentheading {
	padding-left: 4px;
}

table.contentpaneopen fieldset {
	border: 0px;
	border-bottom: 1px solid #eee;
}

.button {
  font-family: Arial, Hevlvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  border: 2px double #E40F24;
  width: auto;
  background: url(../images/button_bg.png) repeat-x;
  padding: 0px 5px;
  line-height: 15px;
  margin: 1px;
}

.inputbox {
	padding: 2px;
	border:solid 1px #cccccc;
	background-color: #ffffff;
}

.componentheading {
	background: url(../images/subhead_bg.png) repeat-x;
	color: #004080;
	text-align: left;
	padding-top: 4px;
	padding-left: 0px;
	height: 21px;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;

}

.contentcolumn {
	padding-right: 5px;
}

.contentheading {
	/*height: 30px;*/
	color: #004080;
	font-weight: bold;
	font-size: 15px;
	FONT-FAMILY: Arial,Verdana;
	/*white-space: nowrap;*/
}

.contentheading A {
	color: #004080;
	font-weight: bold;
	font-size: 15px;
	FONT-FAMILY: Arial,Verdana;
}
.contentheading a:hover {
	color: #ff0000;	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}


.contentpagetitle {
	font-size: 13px;
	font-weight: bold;
	color: #cccccc;
	text-align:left;
}


table.searchinto {
	width: 100%;
}

table.searchintro td {
	font-weight: bold;
}



div.moduletable {
	
	padding: 0;
	margin-bottom: 2px;
	/*background: #BFA161;*/
}
table.moduletable {
	width:200px;
	margin-bottom: 5px;
	padding: 0px;
	background: #BFA161;
	border: 1px solid #000;
}
table.moduletable th, div.moduletable h3 {
	color: #666666;
	text-align: right;
	padding-left: 4px;
	height: 21px;
	line-height: 21px;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	margin: 0 0 2px 0;
}

table.moduletable td {
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	text-align: right;
	
}

table.pollstableborder td {
  padding: 2px;
}

.sectiontableheader {
  font-weight: bold;
  background: #f0f0f0;
  padding: 4px;
}

.sectiontablefooter {

}

.sectiontableentry1 {
	background-color : #ffffff;
}

.sectiontableentry2 {
	background-color : #f9f9f9;
}

.small {
	color: #999999;
	font-size: 11px;
}

.createdate {
	height: 10px;
	padding-bottom: 10px;
	color: #999999;
	font-size: 11px;
}

.modifydate {
	height: 5px;
	padding-top: 5px;
	color: #999999;
	font-size: 11px;
}

table.contenttoc {
  border: 1px solid #cccccc;
  padding: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
}

table.contenttoc td {
  padding: 2px;
}

table.contenttoc th {
  background: url(../images/subhead_bg.png) repeat-x;
  color: #666666;
	text-align: left;
	padding-top: 2px;
	padding-left: 4px;
	height: 21px;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
}

a.mainlevel:link, a.mainlevel:visited {
	display: block;
	background: url(../images/grs_white.gif) repeat-x;
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	padding-top: 3px;
	padding-right: 20px;
	height: 20px !important;
	width: 90%;
	text-decoration: none;
	text-align: right;	
}

a.mainlevel:hover {	
	color: #d6f20d;
	text-decoration: none;
}

a.mainlevel#active_menu {
	color:#fff;
	font-weight: bold;
}

a.mainlevel#active_menu:hover {
	color: #d6f20d;
	text-decoration: none;
}

a.sublevel:link, a.sublevel:visited {
	padding-left: 1px;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}

a.sublevel:hover {
	color: #900;
	text-decoration: none;
}

a.sublevel#active_menu {
	color: #333;
}

.highlight {
	background-color: Yellow;
	color: Blue;
	padding: 0;
}
.code {
	background-color: #ddd;
	border: 1px solid #bbb;
}

form {
/* removes space below form elements */
	margin: 0;
 	padding: 0;
}

div.mosimage {
  border: 1px solid #ccc;
}

.mosimage {
  border: 1px solid #cccccc;
  margin: 5px
}

.mosimage_caption {
  margin-top: 2px;
  background: #efefef;
  padding: 1px 2px;
  color: #666;
  font-size: 10px;
  border-top: 1px solid #cccccc;
}

span.article_seperator {
	display: block;
	height: 1.5em;
}

table.adminheading {
	background-color: #FFF;
	font-family : Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	border-collapse: collapse;
	color: #C64934;
	font-size : 18px;
	font-weight: bold;
	text-align: left;
}
table.adminheading th {
	background: url(../../../images/generic.png) no-repeat left;
	text-align: left;
	height: 50px;
	width: 99%;
	padding-left: 50px;
	border-bottom: 5px solid #fff;
}
table.adminheading th.checkin {
	background: url(../../../images/checkin.png) no-repeat left;
}
table.adminheading th.cpanel {
	background: url(../../../images/cpanel.png) no-repeat left;
}
table.adminheading th.config {
	background: url(../../../images/config.png) no-repeat left;
}
table.adminheading th.modules {
	background: url(../../../images/module.png) no-repeat left;
}
table.adminheading th.menus {
	background: url(../../../images/menu.png) no-repeat left;
}
table.adminheading th.trash {
	background: url(../../../images/trash.png) no-repeat left;
}
table.adminheading th.user {
	background: url(../../../images/user.png) no-repeat left;
}
table.adminheading th.inbox {
	background: url(../../../images/inbox.png) no-repeat left;
}
table.adminheading th.msgconfig {
	background: url(../../../images/message_config.png) no-repeat left;
}
table.adminheading th.langmanager {
	background: url(../../../images/langmanager.png) no-repeat left;
}
table.adminheading th.mediamanager {
	background: url(../../../images/mediamanager.png) no-repeat left;
}
table.adminheading th.impressions {
	background: url(../../../images/impressions.png) no-repeat left;
}
table.adminheading th.browser {
	background: url(../../../images/browser.png) no-repeat left;
}
table.adminheading th.searchtext {
	background: url(../../../images/searchtext.png) no-repeat left;
}
table.adminheading th.templates {
	background: url(../../../images/templatemanager.png) no-repeat left;
}
table.adminheading th.massemail {
	background: url(../../../images/massemail.png) no-repeat left;
}
table.adminheading th.frontpage {
	background: url(../../../images/frontpage.png) no-repeat left;
}
table.adminheading th.sections {
	background: url(../../../images/sections.png) no-repeat left;
}
table.adminheading th.edit {
	background: url(../../../images/addedit.png) no-repeat left;
}
table.adminheading th.categories {
	background: url(../../../images/categories.png) no-repeat left;
}
table.adminheading th.install {
	background: url(../../../images/install.png) no-repeat left;
}
table.adminheading th.dbbackup {
	background: url(../../../images/backup.png) no-repeat left;
}
table.adminheading th.dbrestore {
	background: url(../../../images/dbrestore.png) no-repeat left;
}
table.adminheading th.dbquery {
	background: url(../../../images/query.png) no-repeat left;
}
table.adminheading th.info {
	background: url(../../../images/systeminfo.png) no-repeat left;
}

table.adminheading td {
	color : #000;
}
/* standard list style table */
table.adminlist {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #ddd;
	border-spacing: 0px;
	width: 100%;
	border-collapse: collapse;
}

table.adminlist th {
	margin: 0px;
	padding: 6px 4px 2px 4px;
	height: 25px;
	background: url(../images/background.jpg);
	background-repeat: repeat;
	font-size: 11px;
	color: #000;
}
table.adminlist th.title {
	text-align: left;
}

table.adminlist th a:link, table.adminlist th a:visited {
	color: #c64934;
	text-decoration: none;
}

table.adminlist th a:hover {
	text-decoration: underline;
}

table.adminlist tr.row0 {
	background-color: #F9F9F9;
	text-align: left;
}
table.adminlist tr.row1 {
	background-color: #FFF;
	text-align: left;
}
table.adminlist td {
	border-bottom: 1px solid #e5e5e5;
	padding: 4px;
}
table.adminlist tr.row0:hover {
	background-color: #f1f1f1;
}
table.adminlist tr.row1:hover {
	background-color: #f1f1f1;
}
table.adminlist td.options {
	background-color: #ffffff;
	font-size: 8px;
}
select.options, input.options {
	font-size: 8px;
	font-weight: normal;
	border: 1px solid #999999;
}
/* standard form style table */
table.adminform {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	padding: 10px;
	border-collapse: collapse;
}
table.adminform tr.row0 {
	background-color: #f9f9f9;
}
table.adminform tr.row1 {
	background-color: #eeeeee;
}
table.adminform th {
	font-size: 11px;
	padding-top: 6px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: left;
	height: 25px;
	background: url(images/background.jpg);
	color: #000;
	background-repeat: repeat;
}
table.adminform td {
	padding: 3px;
	text-align: left;
}
table.adminform td.editor {
	font-size: 9px;
}

table.cpanel td {
	text-align: left;
}

form {
	margin: 0px 0px 0px 0px;
}

.pagenav {
	font-size : 10px;
}
span.pagenav{
	color : #808080;
	font-size : 10px;
	text-decoration : underline;
}
a.pagenav {
	color : #808080;
	font-size : 10px;
	text-decoration : underline;
	border:0;
}
a.pagenav:hover {
	color : #FFF;
	font-size : 10px;
	border:0;
}
a.pagenav:active {
	color : #333;
	font-size : 10px;
	border:0;
}